node_modules
.vscode
npm-debug.log
dist
reports
git_ssh
git_ssh.pub
desktop.ini
.idea/
.vs/
vagrant-nodejs/.vagrant
nul
npm-debug*.log
npm-debug*.log*
static_data/version/version.json

debug.log
.settings
.project
stats.json
yarn-error.log
results.xml
junit.xml

coverage
styleguide
.snapguidist
*.bak
*.bak.*
*.zip
src/apps
artifacts
